<a href="/#">ToDo list</a>

<form>
    <fieldset>
        <legend>Add new TO-DO item form</legend>
        <input value="<%= text %>" type="text" name="todo-text" placeholder="Describe what to-do">
        <label class="checkbox">
            <input <% if(done) { %> checked <% } %>  name="todo-done" type="checkbox"> Done
        </label>
        <button type="submit" class="btn">Save</button>
    </fieldset>
</form>